<h2>会員情報入力</h2>

<%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :nickname,"ニックネーム" %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :first_name,"お名前全角（性）" %><br />
    <%= f.text_field :first_name %>
  </div><div class="field">
    <%= f.label :last_name,"お名前全角（名）" %><br />
    <%= f.text_field :last_name %>
  </div><div class="field">
    <%= f.label :first_name_kana,"お名前カナ（セイ）" %><br />
    <%= f.text_field :first_name_kana %>
  </div><div class="field">
    <%= f.label :last_name_kana,"お名前カナ（ナ）" %><br />
    <%= f.text_field :last_name_kana %>
  </div><div class="field">
    <%= f.label :year,"生年月日（年）" %><br />
    <%= f.text_field :year %>
  </div><div class="field">
    <%= f.label :month,"生年月日（月）" %><br />
    <%= f.text_field :month %>
  </div><div class="field">
    <%= f.label :day,"生年月日（日）" %><br />
    <%= f.text_field :day %>
  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
