%body
  .all
    .head
      %h1.head--gazo
        = link_to "/", class:"" do
          = image_tag 'logo.png', :size =>'185x49'
      .head__mozi
        %ol.head__mozi--san
          %li
            会員情報
          %li
            電話番号認証
          %li
            完了
    .ubody
      %h2 会員情報入力
      .ubody__body
        = form_for(@user, url: user_registration_path) do |f|
          = render "devise/shared/error_messages", resource: @user
          .ubody__body--label
            = f.label :nickname,"ニックネーム"
            %span
              必須
            %br/
            = f.text_field :nickname, placeholder: "例) メルカリ太郎", class: "form_long"
          .ubody__body--label
            = f.label :email,"メールアドレス"
            %span
              必須
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "form_long"
          - if @sns.nil?
            .ubody__body--label
              = f.label :password
              %span
                必須
              %br/
              = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "form_long"
          .ubody__body--kakunin
            %h3
              本人確認
            %p
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .ubody__body--label
            = f.label :first_name,"お名前（全角）"
            %span.hissu
              必須
            %br/
            = f.text_field :first_name, placeholder: "例) 山田", class: "form_short"
            = f.text_field :last_name, placeholder: "例) 彩", class: "form_short"
          .ubody__body--label
            = f.label :first_name_kana,"お名前カナ（全角）"
            %span.hissu
              必須
            %br/
            = f.text_field :first_name_kana, placeholder: "例) ヤマダ", class: "form_short"
            = f.text_field :last_name_kana, placeholder: "例) アヤ", class: "form_short"
          .ubody__body--label
            = f.label :birthday,"生年月日"
            %span.hissu
              必須
            %br/
            != sprintf(f.date_select(:birthday, with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
          %p.ubody__body--usui
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .ubody__body--group
            %p.nihongo
              「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
            = f.submit "次へ進む", class: "button"
            = link_to "", class: "kuwasiku" do
              本人情報の登録について
            %p.eigo
              This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
    .new-footer
      %p.new-footer__top
      .new-footer__top__terms
        = link_to "",class:".new-footer" do
          プライバシーポリシー
      .new-footer__top__terms
        = link_to "",class:".new-footer" do
          メルカリ利用規約
      .new-footer__top__terms
        = link_to "",class:".new-footer" do
          特定商取引に関する規約
      .new-footer__bottom
        = link_to "" do
          = image_tag "logotype-gray-432385160bc60aa0002854fccdef2caf.svg", size:"65x80"
        %p 
          %samll
            © Mercari,inc
