%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :phonenumber,"電話番号"
    %br/
    = f.text_field :phonenumber
  .actions
    = f.submit "登録"
= render "devise/shared/links"
