.footer-wrapper
  .footer-image
    .footer-image__title
      %h3 スマホでかんたんフリマアプリ
      %h1 今すぐ無料ダウンロード！
      .footer-image__links
        = image_tag "mercari_icon.png", class: "footer-image__links-mercari"
        = image_tag "apple.png", class: "footer-image__links-ag"
        = image_tag "google.png", class: "footer-image__links-ag"
    = image_tag "ifon.png", class: "footer-image__ifon"
%footer
  .footer-contents
    .footer-contents__block
      %ul
        %p メルカリについて
        %li 会社概要（運営会社）
        %li 採用情報
        %li プレスリリーズ
        %li 公式ブログ
        %li メルカリロゴ利用ガイドライン
        %i.fab.fa-twitter.fa-2x
        %i.fab.fa-facebook-square.fa-2x
    .footer-contents__block
      %ul
        %p ヘルプ&amp;ガイド
        %li メルカリガイド
        %li ラクラクメルカリ便
        %li ゆうゆうメルカリ便
        %li 大型メルカリ便
        %li 車体取引ガイド
        %li メルカリあんしん・あんぜん宣言！
        %li 偽ブランド品撲滅への取り組み
        %li メルカリボックス
    .footer-contents__block
      %ul
        %p プライバシーと利用規約
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li ゆうゆうメルカリ便
        %li あんしんスマホサポート制度に関する利用特約
    .footer-contents__block
      %ul
        %p
        %li 個人データの安全管理に係る基本方針
        %li メルカリあんしん・あんぜん宣言！
        %li 資金決済法に基づく表示
        %li 法令厳守と犯罪抑止のために
    .footer-contents__block
      %ul
        %p 国
        %li 日本
        %li United States
  .footer-end
    = image_tag "mercari-white.png"
    %span Mercari, Inc.
