.side-list
  .side-list__top
    %ul.list-links
      %li.list-links__link
        = link_to "" do
          マイページ
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            お知らせ
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            やることリスト
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            いいね！一覧
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            出品する
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            出品した商品ー出品中
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            出品した商品ー取引中
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            出品した商品ー売却済
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            購入した商品ー取引中
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            購入した商品ー過去の取引
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            ニュース一覧
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            評価一覧
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            ガイド
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            お問い合わせ
  %p.side-list__title メルペイ
  .side-list__middle
    %ul.list-links
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            残高・振込申請
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            ポイント
  %p.side-list__title 設定
  .side-list__bottom
    %ul.list-links
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            プロフィール
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            発送元・お届け先住所変更
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            支払い方法
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            メール/パスワード
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            本人情報
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            電話番号の確認
      %li.list-links__link
        = link_to "" do
          .list-links__link-text
            ログアウト
