.side-list
  .side-list__top
    %ul.list-links
      %li.list-links__link
        = link_to mypage_path(current_user.id) do
          マイページ
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          お知らせ
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          やることリスト
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          いいね！一覧
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          出品する
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          出品した商品ー出品中
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          出品した商品ー取引中
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          出品した商品ー売却済
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          購入した商品ー取引中
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          購入した商品ー過去の取引
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          ニュース一覧
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          評価一覧
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          ガイド
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          お問い合わせ
          %i.fa.fa-chevron-right
  %p.side-list__title メルペイ
  .side-list__middle
    %ul.list-links
      %li.list-links__link
        = link_to "" do
          残高・振込申請
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          ポイント
          %i.fa.fa-chevron-right
  %p.side-list__title 設定
  .side-list__bottom
    %ul.list-links
      %li.list-links__link
        = link_to "" do
          プロフィール
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          発送元・お届け先住所変更
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to cards_path do
          支払い方法
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          メール/パスワード
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          本人情報
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          電話番号の確認
          %i.fa.fa-chevron-right
      %li.list-links__link
        = link_to "" do
          ログアウト
          %i.fa.fa-chevron-right
