= render "shared/slider"
.favorite-category
  %h2 人気のカテゴリー
  .favorite-category__list
    %ul
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
.main
  .prodacuts
    .prodacuts__category
      - @categories.each do |category|
        %h2 
          #{category.name}新着アイテム
        = link_to "" do
          もっと見る
          %i.fa.fa-chevron-righ
        - Item.where(category_id: category.subtree).each do |item|
          .prodacuts__cards
            .prodacuts__cards-item
              .prodacuts__cards-content
                = image_tag item.images.first.src.url
              .prodacuts__cards-name
                = item.name
              .prodacuts__card-price
                = item.price
            -# = item.
-# .main
-#   .prodacuts
-#     .prodacuts__category
-#       %h2 新着アイテム
-#       = link_to "" do
-#         もっと見る
-#         %i.fa.fa-chevron-right
-#     .prodacuts__cards
-#       %ul.prodacuts__cards-block
-#         %li.prodacuts__cards-item
-#           = link_to "", class: "prodacuts__cards-link" do
-#             .prodacuts__cards-content
-#               = image_tag "image.jpg"
-#               %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt
        -# %li.prodacuts__cards-item
        -#   = link_to "", class: "prodacuts__cards-link" do
        -#     .prodacuts__cards-content
        -#       = image_tag "image.jpg"
        -#       %p testitemttttttttttttttttttttt