= render "shared/slider"
.favorite-category
  %h2 人気のカテゴリー
  .favorite-category__list
    %ul
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
.main
  .prodacuts
    .prodacuts__category
      - @categories.each do |category|
        %h2 
          #{category.name}新着アイテム
        %br/
        = link_to "" do
          もっと見る
          %i.fa.fa-chevron-righ
        - Item.where(category_id: category.subtree).each do |item|
          .prodacuts__cards
            .prodacuts__cards-item
              = link_to item_path(item) do
              .prodacuts__cards-content
                = image_tag item.images.first.src.url
              .prodacuts__cards-name
                = item.name
              .prodacuts__card-price
                = "#{item.price}円"
.icon
  = link_to "items/new" do
    .icon__text 出品
    .icon__new
    = image_tag "item-icon.png",:size =>'80x60'
