.all
  .new_header
    .new_header__top
      .new_header__logo
        = link_to "/" do
          = image_tag 'logo.png', :size =>'189x80'
  .ubody
    .ubody__registration
      %p.mottenai アカウントをお持ちでない方はこちら
      =link_to "新規会員登録", new_user_registration_path, class: "button"
    .ubody__body
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .ubody__body--group
          =link_to "fecebookで登録する", new_user_registration_path, class: "button-b"
          =link_to "googleで登録する", new_user_registration_path, class: "button-w"
        .ubody__body--label
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form_long"
        .ubody__body--label
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form_long"
        -# - if devise_mapping.rememberable?
        -#   .field
        -#     = f.check_box :remember_me
        -#     = f.label :remember_me
        .ubody__body--group
          = f.submit "ログイン", class: "button"
  .new-footer
    %p.new-footer__top
    .new-footer__top__terms
      = link_to "",class:".new-footer" do
        プライバシーポリシー
    .new-footer__top__terms
      = link_to "",class:".new-footer" do
        メルカリ利用規約
    .new-footer__top__terms
      = link_to "",class:".new-footer" do
        特定商取引に関する規約
    .new-footer__bottom
      = link_to "" do
        = image_tag "logotype-gray-432385160bc60aa0002854fccdef2caf.svg", size:"65x80"
      %p 
        %samll
          © Mercari,inc
