.god

  .header
    = image_tag "logo.png"

  .single-container

    .single-main
      .buy-panel

        %p.buy-panel-title__order 購入内容の確認

        .buy-panel__item-detail-inner
          .buy-panel__item-detail-inner__about
            = image_tag "logo.png"
            .right
              %p.buy-panel__item-detail-inner__name
                = @item.name
              %p.buy-panel__item-detail-inner__fee
                - if @item.postage == "着払い(購入者負担)" 
                  = "¥#{@item.price} +送料"
                - elsif @item.postage == "送料込み(出品者負担)"
                  = "¥#{@item.price}送料込み"


      
        .buy-panel__choice
          .buy-panel__choice__mit
        
        
            .message
              %p.message__ani
                支払い金額

              %p.message__yu
                = "¥#{@item.price}"


            .lower
              %p.lower__icon-check

              %p.lower__point
                ポイントを使用（所持ポイント0）

            .coo
              .coo__pay
                %p.coo__pay--way
                  支払い方法
                .tea
                  - if current_user.has_card?              
                    %p.card_info
                      クレジットカード
                      %br
                      = "************#{@card.last4}"
                      %br
                      = "#{sprintf("%02d", @card.exp_month)}/#{@card.exp_year % 100}"

                  - else
                    %p.tea__pointt
                      %i{class: "fa fa-plus-circle icons"}
                    = link_to new_card_path do
                      %p.tea__user
                        登録してください
              
          .to
            .to__grand
              .to__grand--papy

                .to__grand--papy__send
                  配送先
                .to__grand--papy__change
                  変更する
              .to__grand--person
                9999999大谷くん

        
          
          - if current_user.has_card?              
            %form{method: :post, action: "/buy/#{@item.id}", id: "buyForm"}
              %input{type: "hidden", name: "payjp_token", value: "#{@card.id}"}
              %input{type: "hidden", name: "status", value: "出品停止"}
              .choice
                %button.choice__end.has-card{type: "submit"}
                  購入する
          - else
            .choice
              %button.choice__end.not-card
                購入する