.new_header
.new_header__top
 .new_header__logo
 = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",size:"189x128"

.new_container
 %main.new_main
  %section.new_main__container
   #new-container
    %div 
     .new-main__inner
      %h2.new-main__head

      .new-main__upload-box
       %h3.new-main__upload_head 
        出品画像
        %span.new-main__form-require 必須
        %p.new-main__upload_sub-head 最大10枚までアップロードできます。
        .new-main__input__product-image
        %input{type:"file",accept:"image/pnp,image/jpeg",multiple_style:"display:none"}

        .new-main__dropbox-container.clearfix.state-image-number-10
        .new-main__upload-item-container
         .new-main__content

          .new-main__from-group
           商品名
           %span.new-main__form-require 必須
          .new-main__input__product--name
           %input{type: "text" ,name:"name" ,placeholder:"40文字まで", autocomplete:"off",class: "new-main__input"}
         
          .new-main__from-group
           商品の説明
           %span.new-main__form-require 必須

        .new-main__content.clerfix
        %h3.new-main__sub_head 商品の詳細

        .new-main__from-group
         カテゴリー
         %span.new-main__form-require 必須
        .new-main__select__product--categories
         %select.new-main__select__product--categories(name="prefecture_id")
          %option.selected(value="")  --
          %option(value="1")  レディース

         .new-main__from-group
          ブランド
          %span.new-main__form-arbitrary 任意
         .new-main__from-group
          商品の状態
          %span.new-main__form-require 必須

        %h3.new-main__sub_head 配送について
        .new-main__from-group
         配送料の負担
         %span.new-main__form-require 必須
         .new-main__from-group
          発送元の地域
          %span.new-main__form-require 必須
         .new-main__from-group
          配送料の負担
          %span.new-main__form-require 必須
         .new-main__from-group
          発送までの日数
          %span.new-main__form-require 必須

         %h3.new-main__sub_head 価格(¥300~9,999,999)
    

        .new-main__form-box
         %ul.new-main__price
         %li.new-main__form-group
         .clearfix 販売価格
         %span.new-main__form-require 必須
         .new-main__right.new-main__price-input
          %li.clearfix
           .new-main__left 販売手数料(10%)
          %li.clearfix.bold
           .new-main__left 販売利益
           .new-main__right
        .new-mainw__model-inner
        .new-main__content.new-main__btn-box

        .new-main__button-exhibition 出品する

        .new-main__button-return もどる


.new-footer
.new-footer__top
 .new-footer__top__title
  = link_to "" do
   プライバシーポリシー
 .new-footer__top__title
  = link_to "" do
   メルカリ利用規約
 .new-footer__top__title 
  = link_to "" do
   特定商取引に関する規約

.new-footer__bottom
 = link_to "" do
  = image_tag "logotype-gray-432385160bc60aa0002854fccdef2caf", size:"65x80"
 %p 
  %samll
   © Mercari,inc


-# .new-main
-#     .new-main__header
-#         お支払い方法
-#     .new-main__categries
-#         %select#(name="")
    