.new_header
.new_header__top
 .new_header__logo
 = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",size:"189x128"

 = render 'form'

 .new-main__notes
  %p.new-main__notes__nomal 
   禁止されている
   = link_to "", class: ".new-main__notes__text-line" do
    行為
   及び
   = link_to "", class: ".new-main__notes__text-line"  do
    出品物
   を必ずご確認ください。 
   = link_to "", class: ".new-main__notes__text-line" do
    偽ブランド品
   や 
   = link_to "", class: ".new-main__notes__text-line" do
    盗品物
   などの販売は犯罪であり、
   法律により処罰される可能性があります。
   また、出品をもちまして 
   = link_to "", class: ".new-main__notes__text-line" do
    加盟店規約
   に同意したことになります。


.new-footer
 %p.new-footer__top
  .new-footer__top__terms
  = link_to "",class:".new-footer" do
   プライバシーポリシー
  .new-footer__top__terms
  = link_to "",class:".new-footer" do
   メルカリ利用規約
  .new-footer__top__terms
  = link_to "",class:".new-footer" do
   特定商取引に関する規約

.new-footer__bottom
 = link_to "" do
  = image_tag "logotype-gray-432385160bc60aa0002854fccdef2caf.svg", size:"65x80"
 %p 
  %samll
   © Mercari,inc
    